html {
  font-size: 16px;
}
body {
  margin: 0 10%;
  background-color: white;
}
.titlebanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: IndianRed;
  color: white;
  font-family: 'Josefin Slab', serif;
  margin-top: 1rem;
}
.titlebanner img {
  width: 25%;
  margin-top: 0;
  margin-bottom: 0;
}
.titlebanner h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  margin-bottom: 0;
}
.titlebanner h3 {
  font-size: 1.5rem;
  margin-top: 0;
}
.mainimage {
  background-image: url(../resources/feature.jpg);
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 2rem;
}
/*nav {
  color: white;
  height: 5rem;
  border: pink 2px solid;
}*/
.header {
  color: white;
  font-family: 'Amatic SC', cursive;
  margin-top: 18rem;
  margin-left: 16rem;
  width: 40%;
  position: absolute;
  height: 25%;
}
.header h2 {
  font-size: 4rem;
  text-align: center;
}
.subheader {
  color: IndianRed;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  display: block;
  font-size: 2rem;
  align-content: center;
  margin-top: 2rem;
}
.subheader img {
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.subheader h3 {
  margin-bottom: 5rem;
  margin-top: 0;
}
.highlights {
  display: flex;
}
.eachhighlight {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
  border: IndianRed 2px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  width: 35%;
  height: 30%;
}
.eachhighlight h3 {
  border-bottom: IndianRed 2px dotted;
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
}
.eachhighlight img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.centre {
  border: IndianRed 2px solid;
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem 1.5rem;
}
.centre p {
  margin-top: 1px;
}
.centre img {
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}
.centre h3 {
  border-bottom: IndianRed 2px dotted;
  margin-top: 0.5rem;
  font-size: 3rem;
  padding: 0rem 0.5rem 1.5rem 0.5rem;
  font-family: 'Amatic SC', cursive;
}
.pagebreak img {
  height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.company {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.info {
  width: 33%;
  border: IndianRed solid 2px;
  margin:1.5rem;
}
.info h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.info p {
  font-family: 'Josefin Slab', serif;
  margin: 0.5rem 0.5rem;

}
.contact {
  font-size: 1.5rem;
}
footer {
  background-color: IndianRed;
  color: white;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  font-family: 'Josefin Slab', serif;
}
footer p {
  margin-left: 0.5rem;
}
